export default App;

const responsive = {
  superLargeDesktop: {
    // the naming can be any, depends on you.
    breakpoint: { max: 4000, min: 3000 },
    items: 5
  },
  desktop: {
    breakpoint: { max: 3000, min: 1024 },
    items: 3
  },
  tablet: {
    breakpoint: { max: 1024, min: 464 },
    items: 2
  },
  mobile: {
    breakpoint: { max: 464, min: 0 },
    items: 1
  }
};

function AboutUs() {
    return (
      <div >
        <MetaTags>
          <title>AI, Cloud, DataOps, web & Mobile Application and DevOps Consultation for Retails, Healthcare, Finance, Automobile industries.</title>
          <meta name="keywords" content="AI, Artificial Intelligence, IOT, Cloud, DataOps, web & Mobile Application, cloud migration, cloud mgmt experts, cost-optimized solutions, Big data pipelines, Hadoop, spark consulatation." />
        </MetaTags>
  
        <section className="iq-breadcrumb-five main-bg" style={{ backgroundColor: '#090f27', padding: '60px 0 00px' }}>
          <div className="container">
            <img src="https://crossml-website-images.s3.amazonaws.com/idea.jpg" style={{ maxWidth: '40%', height: 'auto', float: 'left' }} />
            <div className="row text-center mt-3">
              <div className="col-lg-12 pl-5">
                <div className="mt-0 mb-0 text-right">
                  <h2 style={{ fontSize: '40px', color: '#ffe1df' }}> <br />Career @ crossML <span className="title_highlight"></span><br /> Career with an <span className="title_highlight">Impact</span> <br /> <br /></h2>
                </div>
              </div>
            </div>
          </div>
        </section>
  
  <section class=" position-relative pt-3 pb-0">
      <div class="container">
          <div class="row iq-recent-job">
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="iq-jobdetail">
                      <div class="office-top">
                          <h6 class="cmp-name"> pinkal Senior Role</h6>						
                          <p class="timeago text-muted">3 - 5 years</p>                        
  
                      </div>
                      <div class="office-detail">
                          <h4 class="title mb-0">Applied AI Developer</h4>
                      </div>
                      <div class="office-bottom">
              <ul class="job-description">
              <li><b>&bull;</b> Bachelor's or Master's degree in Computer Science, or equivalent education</li>
              <li><b>&bull;</b> Minimum of 3-5 years of industry experience in Applied Machine Learning & Deep Learning</li>
              <li><b>&bull;</b> Good knowledge of Python or R programming</li>
              <li><b>&bull;</b> Experience in AI frameworks Tensorflow, Keras, Pytorch, Sklearn, Pandas, Numpy, etc</li>
              <li><b>&bull;</b> Deep knowledge of ML & DL algorithms such as XgBoost, LSTM, RNN, CNN, GAN, Clustering, etc</li>
              <li><b>&bull;</b> Excellent oral and written communication</li>
              </ul>
                          <ul class="mt-4">
                              <li>
                                  <i class="fa fa-map-marker text-muted" aria-hidden="true"></i>
                                      <span class="country text-muted">Chandigarh</span>
                              </li>
                              <li class="pull-right mr-0">
                      <a href="mailto:hello@crossml.com" target="_blank" class="btn btn-outline-secondary">
                                  Apply Now</a>
                              </li>
                      </ul>
                  </div>
              </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="iq-jobdetail">
                      <div class="office-top">
                          <h6 class="cmp-name">Senior Role</h6>						
                          <p class="timeago text-muted">3 - 5 years</p>                        
                          
                      </div>
                      <div class="office-detail">
                          <h4 class="title mb-0">NLP Developer</h4>
                      </div>
                      <div class="office-bottom">
            <ul class="job-description">
              <li><b>&bull;</b> Bachelor's or Master's degree in Computer Science, or equivalent education</li>
              <li><b>&bull;</b> Minimum of 3-5 years of industry experience in OCR, NLP, NER, Text Mining, Sentiment Analysis, etc</li>
              <li><b>&bull;</b> Good knowledge of Python or R programming</li>
              <li><b>&bull;</b> Experience in OCR, NLP, NER frameworks Tesseract, NLTK, Spacy, Tabula, etc</li>
              <li><b>&bull;</b> Knowledge of 3rd party OCR API's like AWS Textract, Google Vision, Azure OCR, etc</li>
              <li><b>&bull;</b> Excellent oral and written communication</li>
              </ul>
                          <ul class="mt-4">
                              <li>
                                      <i class="fa fa-map-marker text-muted" aria-hidden="true"></i>
                                      <span class="country text-muted">Chandigarh</span>
                              </li>
                              <li class="pull-right mr-0">
                                  <a href="mailto:hello@crossml.com" target="_blank" class="btn btn-outline-secondary">
                                  Apply Now</a>
                              </li>
                      </ul>
                  </div>
              </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="iq-jobdetail">
                      <div class="office-top">
                          <h6 class="cmp-name">Senior Role</h6>						
                          <p class="timeago text-muted">3 - 5 years</p>                        
  
                      </div>
                      <div class="office-detail">
                              <h4 class="title mb-0">Python Full Stack</h4>
                      </div>
                      <div class="office-bottom">
                          <ul class="job-description">
              <li><b>&bull;</b> Bachelor's or Master's degree in Computer Science, or equivalent education</li>
              <li><b>&bull;</b> Minimum of 3-5 years of industry experience in python programming and software develoment.</li>
              <li><b>&bull;</b> Experience in Django, Flask, FastAPI, MySQL, MongoDB, Postgres, etc</li>
              <li><b>&bull;</b> Hands-on with HTML/CSS, Javascript, Angular</li>
              <li><b>&bull;</b> Knowledge of with AWS Cloud, DevOps, Deployments on Nginx, Linux, etc</li>
              <li><b>&bull;</b> Excellent oral and written communication</li>
              </ul>
              <ul class="mt-4">
                              <li>
                                      <i class="fa fa-map-marker text-muted" aria-hidden="true"></i>
                                      <span class="country text-muted">Chandigarh</span>
                              </li>
                              <li class="pull-right mr-0">
                             <a href="mailto:hello@crossml.com" target="_blank" class="btn btn-outline-secondary">
                                  Apply Now</a>
                              </li>
                      </ul>
                  </div>
              </div>
              </div>
              </div>
  
  
  
      </div>
  </section>
  
  
  <section class=" position-relative pt-5">
      <div class="container">
          <div class="row">
          <div class="col-lg-12">
          <h3>A few reasons you should join crossML?</h3>
          <ul class="why_join_us mt-4">
              <li><b>&#10003; Innovate</b>  - Be a part of the culture of innovation with pet projects, meetups, hackathons.</li>
              <li><b>&#10003; Upskill</b>  - Work on cutting-edge technologies in Cloud, AI, Machine Learning, Big Data, IoT, etc</li>
              <li><b>&#10003; Lead</b>  - We help you jump start your journey towards a leadership & management role.</li>
              <li><b>&#10003; We Care</b>  - Get unique perks like Travel Credits, Paid Time Off, Yearly Bonus, and of course Best Compensations.</li>
            </ul>
          </div>
        </div>
      </div>
  </section>
  
  {/* 
        <section>
          <div className="container">
            <div className="row align-items-center">
              <div className="col-lg-6">
                <img src="https://crossml-website-images.s3.amazonaws.com/16.png" className="img-fluid" alt="img" />
              </div>
              <div className="col-lg-6">
                <div className="title-box text-left mb-3 mt-0">
                  <h2 class="mt-0">What makes us who we are today?</h2>
                  <p>We at CrossML helps organizations solve complex technical and architectural problems
                    and help in better business strategies, digital transformation, and increase business productivity.
                    Our customer-first approach always empowered us to innovate exceptional customer experiences and
                    design the best solutions for our clients and their end customers who rely on them and assures
                    continuous delivery for ongoing improvements.</p>
                </div>
                <div className="row">
                  <div className="col-lg-6">
                    <ul className="iq-list wow fadeInUp" data-wow-duration="0.9s" style={{ visibility: 'visible', animationDuration: '0.9s', animationName: 'fadeInUp' }}>
                      <li><i className="fa fa-check" /><span>Customer-first approach</span></li>
                      <li><i className="fa fa-check" /><span>Attention to Details</span></li>
                      <li><i className="fa fa-check" /><span>Certified Domain Experts </span></li>
                    </ul>
                  </div>
                  <div className="col-lg-6">
                    <ul className="iq-list wow fadeInUp" data-wow-duration="0.9s" style={{ visibility: 'visible', animationDuration: '0.9s', animationName: 'fadeInUp' }}>
                      <li><i className="fa fa-check" /><span>Committed to Quality</span></li>
                      <li><i className="fa fa-check" /><span>Creative and innovative solutions</span></li>
                      <li><i className="fa fa-check" /><span>Comprehensive project planning</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section className="pt-0">
          <div className="container">
  
            <div className="row">
              <div className="col-lg-12 ">
                <h3 className="mb-3 ">Why customers trust crossML?</h3>
                <ul className="iq-list wow">
                  <li><i className="fa fa-check" /><span>We know "Time Is Money", to stick to this, we always deliver solutions on time and continuously improve from there.</span></li>
                  <li><i className="fa fa-check" /><span>We are lace with High-Tech hardware and software including GPUs which is must to get insights from enormous data.</span></li>
                  <li><i className="fa fa-check" /><span>We rigorously examine requirements and exceed client expectations to achieve maximal business growth.</span></li>
                  <li><i className="fa fa-check" /><span>We believe in working together and winning as a team.</span></li>
                  <li><i className="fa fa-check" /><span>Company data is very sensitive, so we keep it 100% confidential.</span></li>
                  <li><i className="fa fa-check" /><span>We always stick on right way instead of easy way even in adverse circumstances.</span></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section className="pt-0">
          <div className="container">
            <div className="row">
              <div className="col-lg-12">
                <p className="text-center">
                  <img className="img-fluid client-img mr-5" width={160} src="https://crossml-website-images.s3.amazonaws.com/carvi-logo.png" alt="Blueprism" />
                  <img className="img-fluid client-img mt-3 mr-5" width={130} src="https://crossml-website-images.s3.amazonaws.com/dds.jpg" alt="OpenCV Python OCR" />
                  <img className="img-fluid client-img mr-5" width={220} src="https://crossml-website-images.s3.amazonaws.com/numantra.png" alt="OpenCV Python OCR" />
                  <img className="img-fluid client-img mr-5" width={160} src="https://crossml-website-images.s3.amazonaws.com/cortes54_logo.jpg" alt="OpenCV Python OCR" />
                  <img className="img-fluid client-img mr-5" width={150} src="https://crossml-website-images.s3.amazonaws.com/adapt.png" alt="OpenCV Python OCR" />
                </p>
              </div>
              <div className="col-lg-12">
                <p className="text-center">
                  <img className="img-fluid client-img mr-5" width={180} src="https://crossml-website-images.s3.amazonaws.com/breathalyzers.png" alt="Blueprism" />
                  <img className="img-fluid client-img mr-5" width={190} src="https://crossml-website-images.s3.amazonaws.com/mother_baby.jpg" alt="OpenCV Python OCR" />
                  <img className="img-fluid client-img mr-5" width={140} src="https://crossml-website-images.s3.amazonaws.com/nutrition_store.png" alt="OpenCV Python OCR" />
                  <img className="img-fluid client-img mr-5" width={160} src="https://crossml-website-images.s3.amazonaws.com/babasafe.png" alt="OpenCV Python OCR" />
                  <img className="img-fluid client-img mr-5" width={130} src="https://crossml-website-images.s3.amazonaws.com/axe-logo.png" alt="OpenCV Python OCR" />
                </p>
              </div>
            </div>
          </div>
        </section> */}
  
        <section className="gray-bg pt-5 pb-4">
          <div className="container">
            <div className="row">
              <div className="col-lg-12 text-center">
                <img className="img-fluid client-img mr-4" src="https://crossml-website-images.s3.amazonaws.com/aws.png" width="120"
                  alt="Amazon Web Services" />
                <img className="img-fluid client-img mr-4" src="https://crossml-website-images.s3.amazonaws.com/googlecloud.png" width="100"
                  alt="Google Cloud Platform" />
                <img className="img-fluid client-img mr-4" src="https://crossml-website-images.s3.amazonaws.com/azure.png" width="90" alt="Azure" />
                <img className="img-fluid client-img mr-4" src="https://crossml-website-images.s3.amazonaws.com/python.png" width="60" alt="Python" />
                <img className="img-fluid client-img mr-4" src="https://crossml-website-images.s3.amazonaws.com/Apache_Spark_logo.png" width="100"
                  alt="Spark" />
                <img className="img-fluid client-img mr-4" src="https://crossml-website-images.s3.amazonaws.com/hadoop.png" width="110" alt="Big Data" />
                <img className="img-fluid client-img" src="https://crossml-website-images.s3.amazonaws.com/automation-anywhere.png" width="140"
                  alt="Automation Anywhere" />
              </div>
            </div>
          </div>
        </section>
  
      </div>
    );
  }
  